{
  "env": {
    "es6": true
  },
  "rules": {
        "no-alert": "error",
        "no-empty-function": "error",
        "strict": "error",
        "block-spacing": 2,
        "camelcase": 2,
        "no-var":2,
        "linebreak-style": [
          "error",
          "unix"
        ],
        "quotes": [
          "error",
          "single"
        ],
        "semi": [
          "error",
          "always"
        ]
    }
}